<%- include('./templates/head') %>
<body>
    <header>
        <h1>Mi Agenda de teléfonos</h1>
    </header>
    <main class="container-sm">
        <h1>404 NOT FOUND!</h1>
        <a href="/" class="btn btn-primary">Volver al inicio</a>
    </main>
</body>
</html>